@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.fade-in {
  opacity: 0;
  animation: fade-in 0.5s ease-in-out forwards;
}

.fade-out {
  opacity: 0;
  animation: fade-out 0.5s ease-in-out backwards;
}

.fade-in-out {
  opacity: 0;
  animation: fade-in-out 3s ease-in-out forwards;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  } 
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.backgroundimage {
  position: relative;
}

.backgroundimage::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://images4.alphacoders.com/131/1318501.jpeg');
  opacity: 0.4; /* Adjust the opacity as desired */
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
  
}

.scrollbar-hide {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0.5rem;
}

.scrollbar-hide::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background-color: transparent;
}



